# Environments
pybullet_env/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Large Data Files (Explicitly Excluded)
DB5_Master_Grasp_Dataset.csv
*.mat
*.pth
*.csv
